.log{
    background-color: white;
    border-radius: 30px;
    padding: 6% 0;
    box-sizing: border-box;
    margin: 1em;
    max-height: 40%;

    h2{
        margin: 0;
    }

    p{
        margin: 0.1em;
    }
}